.channel-container {
  & {
    max-width: 220px;
    background: #4D394B;
    height: 100vh;
    color: rgb(202,196,201);
    padding-left: 16px;
  }

  > .channels {
    padding: 16px;
  }
  
  > .channels > .list {
    padding-left: 16px;
  }

  > .channels > .action {
    border-radius: 50%;
    color: #cac4c9;
    background: transparent;
    align-items: center;
    width: 19px;
    border: 2px solid #cac4c9;
    float: right;
    font-weight: 700;
    transition: 0.1s ease-out;
  }

  > .channels > .action:hover {
    cursor: pointer;
    color: lighten(#cac4c9,30%);
    border-color: lighten(#cac4c9,30%);
  }
}
