.form-container {
  & {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }

  > .content > .header {
    margin-bottom: 16px;
  }

  > .content {
    width: 50%;
  }

  > .content > .action {
    float: right;
  }

  > .content > .action > .btn {
    margin-left: 8px;
  }
}